//reviews rating
.star {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image:url('../img/icons/star.png');
    background-size:20px;
    background-position: center;
    background-repeat: no-repeat;
  }
  


//custom stripe widjet
$widjet-arrow-width:0.4rem;
$widjet-heigh:50px;
.stripe-widjet {
    background:$dark-1;
    height: $widjet-heigh;
    width:100%;
    position: relative;
    overflow: hidden;

    &__inner {
      height: $widjet-heigh;
      width:150%;
      position: absolute;
      left: -$widjet-heigh;
      top: 0;
      bottom: 0;
      display: block;
    }

    &__item {
      display: inline-block;
      vertical-align: middle;
      line-height: $widjet-heigh;
      padding: 0 1rem;
      font-size: 1rem;
      font-weight: 400;
    }

    &__change {
      position: relative;
      padding-right: 15px;
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        top: 7px;
        width: 0;
        height: 0;
        border-style: solid;
      }
      &.up {
        color:$green;
        &:before {
          border-width: 0 $widjet-arrow-width $widjet-arrow-width $widjet-arrow-width;
          border-color: transparent transparent $green transparent;
        }
      }
      &.down {
        color:$red;
        &:before {
          border-width: $widjet-arrow-width $widjet-arrow-width 0 $widjet-arrow-width;
          border-color: $red transparent transparent transparent;
        }
      }
    }
}





//price arrows
.up {color:$green;}
.down {color:$red;}

$arrow-width:0.5rem;
.arrow-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 $arrow-width $arrow-width $arrow-width;
    border-color: transparent transparent $body-color transparent;
}
.arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $arrow-width $arrow-width 0 $arrow-width;
    border-color: $body-color transparent transparent transparent;
}

.price {  
  &--up {
    color:$green;
    .arrow-up { border-color: transparent transparent $green transparent; }
  }
  &--down {
    color:$red;
    .arrow-down { border-color: $red transparent transparent transparent; }
  }
}
