.navbar-brand {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

#menu-primary {
    width: 100%;
    >li{
        &:last-child{
            margin-left: auto; 
            display: flex;
            justify-content: center;
            align-items:center;
            a {
                color:$darker;
                background:$secondary;
                padding:.5rem 1rem;
                border-radius: $border-radius;
                font-weight: 600;
                &:hover {
                    box-shadow: 0px 1px 30px 0px #FFFFFF40;
                    color:$blue;
                  }
            }
        }
    }
    .menu-item-has-children{
        &.show {
           // background: $dropdown-bg;
        }
    }
}

.navbar-nav .nav-link {
    font-size: 1.125rem;
}