.about-us__header {
  text-align: center;
}

.about-us__slider {
  position: relative;
}

.about-us__review {
  margin-bottom: 30px;
}

.about-us__slider-nav {
  width: 7.5rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 991.98px) {
  .about-us__slider-nav {
    right: unset;
    left: 0;
  }
}

.about-us__slider-nav .swiper-button-next, .about-us__slider-nav .swiper-button-prev {
  position: unset;
  top: unset;
  width: 3rem;
  height: 3rem;
  margin-top: 0;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.about-us__slider-nav .swiper-button-next:after, .about-us__slider-nav .swiper-button-prev:after {
  font-size: 1rem;
}

.about-us__slider-nav .swiper-button-prev {
  margin-right: 1.25rem;
}

@media (max-width: 767.98px) {
  .review__image-wrap {
    margin-bottom: 1rem;
  }
}

.review__content {
  padding-left: 3.75rem;
  padding-bottom: 3.75rem;
}

@media (max-width: 991.98px) {
  .review__content {
    padding-left: 0rem;
  }
}

.review__name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.review__country {
  font-size: 1rem;
  font-weight: 500;
  color: #797C97;
  margin-bottom: 0.5rem;
}

.review__rating {
  margin-bottom: 1.875rem;
}

.review__text {
  font-size: 1.25rem;
  font-weight: 500;
}

.thumb-slider__image-wrap {
  position: relative;
}

.thumb-slider__image-wrap::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.thumb-slider__image-wrap.swiper-slide-thumb-active::after {
  opacity: 0.4;
}
