.svg-ds-dims {
	width: 26px;
	height: 28px;
}

.svg-fb-dims {
	width: 28px;
	height: 28px;
}

.svg-insta-dims {
	width: 28px;
	height: 28px;
}

.svg-ln-dims {
	width: 28px;
	height: 28px;
}

.svg-twitter-dims {
	width: 28px;
	height: 24px;
}

