.accordion-block .accordion > .card {
  margin-bottom: 0.75rem;
  border-radius: 8px;
}

.accordion-block .accordion .card-header {
  cursor: pointer;
  position: relative;
  overflow-anchor: none;
}

.accordion-block .accordion .card-header .card-txt {
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.accordion-block .accordion .card-header:hover .card-txt {
  color: #ffffff;
}

.accordion-block .accordion .card-header::before {
  position: absolute;
  display: block;
  right: 1.875rem;
  top: 1.5rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='13' viewBox='0 0 22 13' fill='%232F9BFF' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1416 12.5739L0.35146 2.7836C0.124844 2.55717 -9.85645e-08 2.25489 -8.4476e-08 1.93259C-7.03876e-08 1.61028 0.124844 1.30801 0.351461 1.08157L1.07227 0.360583C1.54196 -0.108568 2.30533 -0.108568 2.7743 0.360583L10.9954 8.58172L19.2257 0.351461C19.4523 0.125024 19.7544 8.63493e-07 20.0765 8.77573e-07C20.399 8.9167e-07 20.7011 0.125024 20.9279 0.351461L21.6485 1.07245C21.8752 1.29906 22 1.60116 22 1.92347C22 2.24577 21.8752 2.54805 21.6485 2.77448L11.8495 12.5739C11.6222 12.8009 11.3186 12.9255 10.996 12.9248C10.6721 12.9255 10.3687 12.8009 10.1416 12.5739Z'/%3E%3C/svg%3E%0A");
  background-position: center;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.accordion-block .accordion .card-header.collapsed::before {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}