@import '../../../scss/_variables';
@import '../../../vendor/bootstrap/scss/mixins/breakpoints';

.instruments-why-trade {
    .block{
        &__text {
            h2,h3,h4 {
                color:$white;
                font-weight: 600;
                padding-top: 0.5rem;
                &:nth-of-type(1){
                    padding-top: 0;
                }
            }
        }
    }
    
}