.numbers-block {
  width: 100%;
  border-top: 1px solid #6F8FBB;
  border-bottom: 1px solid #6F8FBB;
}

.numbers-block__row {
  padding: 2.75rem 0;
}

.numbers-block__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.numbers-block__number {
  font-size: 4.375rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.numbers-block__text {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .numbers-block__number {
    font-size: 3rem;
  }
}

@media (max-width: 767.98px) {
  .numbers-block__row {
    padding-bottom: 0.75rem;
  }

  .numbers-block__col {
    margin-bottom: 2rem;
  }
}