@import '../_variables';

html {
    body.theme-dark {
        header.header { background:none;}
    }
}

.blog-main {
    section {
        padding: 0;
        margin-bottom: 4.688rem;
        .container {
            padding: 0;
        }
    }

    .all-articles{
        margin-bottom: 0;
    }
}


//section headers
.section-header {
    padding-bottom: $mb-inner;
    text-transform: capitalize;
    &__header {
      font-size: 3.125rem;
      line-height: 1.25;
      font-weight: 700;
      margin-bottom: 0;
    }
    &__text {    
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 0;
      margin-top: 1.25rem;
    }
}


.blog-page-title {
    padding-bottom: 1.875rem;    
    &__title {
        font-size: 4.375rem;
        font-weight: 700;
        margin: 0 auto;
        text-align: center;
    }
    &--underline {
        border-bottom: 1px solid $border-color;
    }
}    

.category-page-title {
    padding-bottom: 2rem;    
    &__title {
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 0;
    }
    &--underline {
        border-bottom: 1px solid $border-color;
    }
}    

