@import '../../../scss/_variables';
@import '../../../vendor/bootstrap/scss/mixins/breakpoints';


/*
.blog-news {
    &__header {
    }
    &__row {
    }
    &__col {
        @include media-breakpoint-down (md) { margin-bottom: 1rem; }
        &:last-child {  @include media-breakpoint-down (md) { margin-bottom: 0; } }
    }
    &__item {
    }
}


.excerp {

    display: flex;
    flex-direction: column;

    &__image {
        width: 100%;
        height: auto;
        margin-bottom: 1.813rem;
    }

    &__info {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6rem;
        margin-bottom: 1.813rem;
        display: flex;
        align-items:center;
    }

    &__date {
        margin-right: 0.75rem;
    }

    &__category {
        padding: 0 0.5rem;
        background:$dark-1;
        height: 100%;
        text-decoration: none!important;
        color: $white;
        border-radius: $border-radius;
    }

    &__title {
        margin-bottom: 1.125rem;
        font-size: 1.563rem;
        font-weight: 500;
    }

    &__text {
        margin-bottom: 0;
        color: $gray-1;
        font-size: 1rem;
        font-weight: 500;
    }
}
*/