.instruments-widjet-firstscreen .block {
  font-size: 1.125rem;
}

.instruments-widjet-firstscreen .block__text {
  margin-bottom: 2.5rem;
}

.instruments-widjet-firstscreen .block__bottons {
  margin-bottom: 1.563rem;
}