.all-articles {   
    &__col {
        margin-bottom: $mb-inner;
    }
    &__item {
        padding-bottom: 3.75rem;
        @include media-breakpoint-down(md){
            padding-bottom: 2rem;
        }
    }
}