// modify default gutenberg blocks inside theme section-blocks here

.block {

    .wp-block-image {
        margin-bottom: 0;
    }


    &__icon {
        &-wrap {
            margin-bottom: $paragraph-margin-bottom;
        }        
        &--big {
            width: 5.25rem;
            height: 5.25rem;
        }
    }

    &__inner-header {
        margin-bottom: $paragraph-margin-bottom;
    }

    &__inner-text {
        margin-bottom: $paragraph-margin-bottom;
    }

    &__inner-button {
        margin-top: auto;
    }

}


