.cta-left__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cta-left__image {
  width: 100%;
  height: auto;
  margin-top: -2rem;
  margin-bottom: -3rem;
}

.list-cards__item {
  padding: 1.25rem 2.188rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

.list-cards__image-wrap {
  margin-right: 2rem;
  padding: 0.5rem;
  border: 1px solid #6F8FBB;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-cards__image {
  width: 100%;
  height: auto;
}

.list-cards__title {
  margin-bottom: 0;
}

.theme-light .list-cards__image-wrap {
  background: #ffffff;
}

@media (max-width: 991.98px) {
  .cta-left__image {
    margin: 0;
  }
}